@using EntityLayer.Concrete
@model List<Skill>

<section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Yetenekler</h2>
        </div>

        <div class="row skills-content">
                @foreach (var item in Model)
             {
          <div class="col-lg-6" data-aos="fade-up">
          
                 <div class="progress">
              <span class="skill">@item.SkillName<i class="val">@item.SkillScore</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="@item.SkillScore" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
           
            

          </div>
            }
        </div>

      </div>
    </section>